.content {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em 1em;
    margin: 40px auto;
  }
}

@media (max-width: 992px) {
  .content {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em 6em;
    }
  }
}

@media (max-width: 767px) {
  .content {
    &__top {
      flex-direction: column;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
