$white: #ffffff;
$dark-gray: #606060;
$gray: #f3f3f3;
$black: #181818;
$red: #ff6900;
$yellow: #ffe7a7;

/* width */
$max-width: 1100px;

/*breakpoints*/
$max-width-laptop: 952px;

$max-width-tablet: 728px;

$max-width-mini-tablet: 460px;

$max-width-mobile: 300px;
